#header {
  align-items: center;
  display: flex;
  height: 100px;
  width: 100%;
}

#avatar-img {
  border-radius: 100%;
  margin-left: 40px;
  width: 50px;
}

#avatar-name {
  font-size: 1.4rem;
  margin: 5px 5px 5px 5px;
}

#avatar-score {
  font-size: 1.4rem;
  margin: 5px 5px 5px 5px;
}
