.correct_answer {
  border: solid 3px rgb(6, 240, 15);
}

.incorrect_Answer {
  border: solid 3px rgb(255 0 0);
}

#button {
  margin: 0 1em 0 0;
  margin-bottom: 5px;
}

.flex{
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(147, 207, 221);
  padding: 90px;
  width: 55%;
  border: solid 2px black;
  margin: 150px auto;
}

.question {
  margin-top: 100px;  
}

.category-question, p {
  font-size: 20px;
}


