.btn_feedb {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: Courier , monospace;
  font-size: 1rem;
  font-weight: 900;
  margin: 5px;
  padding: 10px;
  text-shadow: black 2px 3px 2px;
  width: 20%;
}
