body {
  background-color: #0a7049;
  font-family: monospace;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-logo {
  height: 10em;
  margin: auto;
  padding: 5px 0;
  pointer-events: none;
  width: 20em;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.App-header {
  align-items: center;
  align-self: center;
  background-color: #9dd1bd;
  border: 3px solid black;
  border-radius: 5%;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  height: fit-content;
  justify-content: center;
  margin: auto;
  margin-top: 3.25%;
  padding: 15px;
  width: fit-content;
}

.App-link {
  color: #61dafb;
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.correct {
  border: 3px solid rgb(6, 240, 15);
}

.incorrect {
  border: 3px solid red;
}

input {
  align-content: center;
  align-items: center;
  background-color: rgb(218, 214, 214);
  border-color: black;
  border-radius: 10px;
  display: flex;
  font-size: x-large;
  margin: 8px 15px;
}

button {
  background-color: rgb(218, 214, 214);
  border: 2px solid black;
  border-radius: 10px;
  font-family: monospace;
  height: fit-content;
  margin: 8px 5px;
  padding: 10px;
  width: fit-content;
}

.next-button {
  margin: auto;
}

footer {
  align-items: center;
  background-color: #043623;
  bottom: 0;
  color: white;
  display: flex;
  font-size: large;
  font-weight: 800;
  height: 40px;
  justify-content: center;
  margin-top: auto;
  position: fixed;
  width: 100%;
}

footer span {
  margin-left: 10px;
}
