/* Login page  */
.login-section {
  align-items: center;
  background-image: url('https://img.freepik.com/free-vector/abstract-colorful-minimalist-clean-background_173783-3.jpg?size=626&ext=jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: auto;
}

.login-section form {
  width: 400px;
}

.login-section img {
  margin-bottom: 20px;
  width: 500px;
}

.login-section input, .login-section button, .login-section a {
  box-sizing: border-box;
  height: 50px;
  margin-top: 5px;
  width: 400px;
}

.login-section input {
  font-size: 20px;
}

.play-btn:enabled {
  background-color: rgb(0, 255, 115);
  border-color: transparent;
  border-radius: 10px;
  color: darkgreen;
  font-size: 20px;
}

.play-btn:disabled {
  border-radius: 10px;
  font-size: 20px;
}

.config-btn:enabled {
  background-color: rgb(255, 230, 0);
  border-color: transparent;
  border-radius: 10px;
  color: rgb(148, 96, 0);
  font-size: 20px;
}

.play-btn:hover, .config-btn:hover {
  cursor: pointer;
}

/* Config-page */
.config-section {
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  box-shadow: 0 5px 5px darkgreen;
  height: 500px;
  margin: 20px auto;
  padding-top: 10px;
  text-align: center;
  width: 400px;
}

/* Header component */
.header-component {
  background-color: rgb(208, 190, 236);
  box-shadow: 10px 5px 5px black;
  display: flex;
  font-size: 28px;
  height: fit-content;
  justify-content: space-evenly;
  padding: 10px 0;
}

.header-component img {
  border-radius: 10px;
}

/* Jogo page */
.game-section {
  align-items: center;
  background-size:100%;
  background-position-y: -200px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  width: 100%;
  height: 100vh;
}

.questions-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.questions-section button {
  box-sizing: border-box;
  height: 40px;
  margin-top: 5px;
  width: 400px;
}

.next-btn {
  align-self: center;
  height: 40px;
  margin-top: 100px;
  width: 400px;
}
