* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('https://store-images.s-microsoft.com/image/apps.48400.14573449505340069.0f503adc-58ce-4d41-a12d-792f97d4a1c0.172673f6-7954-4b39-90f1-701aee6722c8?mode=scale&q=90&h=1080&w=1920');
}
