:root {

  --crl-light-grey: rgb(223, 220, 220);

  --crl-graphite-515151: rgb(51, 51, 51);

  --crl-graphite-535353: rgb(53, 53, 53);

  --crl-light-blue-a8f9f3: rgb(169, 249, 244);

  --crl-light-purple-624291: rgb(97, 66, 143);

  --crl-purple-290c61: rgb(40, 12, 95);

  --crl-white: white;

}

.header-ranking {
  align-items: center;
  background-color: var(--crl-light-grey);
  color: var(--crl-graphite-515151);
  display: flex;
  font-weight: 600;
  height: 3.8em;
  justify-content: center;
  letter-spacing: 2px;
  margin-bottom: 1em;
  width: 100vw;
}

.feedback-container {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.feedback-message {
  align-items: center;
  background-color: var(--crl-white);
  border-radius: 15px;
  box-shadow: 0 0.3em 1.5em var(--crl-graphite-535353);
  color: var(--crl-graphite-515151);
  display: flex;
  flex-flow: column wrap;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 1em;
  text-align: center;
  width: 18em;
}

.fb-btn-container button {
  background-color: rgba(10, 245, 155, 0.8);
  border: none;
  border-radius: 5px;
  box-shadow: 0 15px 25px -4px rgba(30, 30, 60, 0.25);
  color: var(--crl-white);
  font-weight: 700;
  margin: 10px;
  padding: 15px 10px;
  transition: transform 0.5s;
  width: 20em;
}

.fb-btn-container button:hover {
  background-color: rgba(10, 245, 155, 1);
  transform: scale(1.1);
}

@media ( max-width : 767px ) {

  .fb-btn-container {
    display: flex;
    flex-flow: column;
  }

}

@media ( min-width : 768px ) {

  .feedback-message {
    height: 8em;
    justify-content: center;
    line-height: 2em;
    width: 20em;
  }

  .fb-btn-container {
    display: flex;
    flex-flow: column wrap;
  }

  .fb-btn-container button {
    font-size: inherit;
    width: 18em;
  }
}