:root {

  --crl-light-grey: rgb(223, 220, 220);

  --crl-graphite-333: rgb(51, 51, 51);

  --crl-graphite-353535: rgb(53, 53, 53);

  --crl-light-blue-a8f9f3: rgb(169, 249, 244);

  --crl-light-purple-624291: rgb(97, 66, 143);

  --crl-purple-290c61: rgb(40, 12, 95);

  --crl-white: white;

}

header {
  align-items: center;
  background-color: var(--crl-light-grey);
  color: var(--crl-graphite-333);
  display: flex;
  font-weight: 600;
  height: 3.8em;
  justify-content: space-between;
  letter-spacing: 2px;
}

.player-info {
  align-items: center;
  display: flex;
  margin-left: 10px;
}

.player-info img {
  border-radius: 100%;
  margin-right: 10px;
  width: 15%;
}

.score-container {
  align-items: center;
  display: flex;
  margin-right: 5px;
}

.timer {
  background-color: var(--crl-light-blue-a8f9f3);
  border: 3px solid var(--crl-purple-290c61);
  border-radius: 100%;
  color: var(--crl-purple-290c61);
  display: block;
  font-weight: 600;
  height: 25px;
  padding: 5px;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 25px;
}

.regress {
  background-color: var(--crl-light-grey);
  height: 0.5em;
  position: relative;
  transition: width 500ms ease-out;
}

.bar {
  background-color: var(--crl-light-blue-a8f9f3);
  height: 100%;
  position: absolute;
}

.main {
  align-items: center;
  display: flex;
  font-size: 1.4em;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.question-container {
  align-items: center;
  background-color: var(--crl-white);
  border-radius: 15px;
  box-shadow: 0 0.3em 1.5em --crl-graphite-353535;
  color: var(--crl-graphite-333);
  display: flex;
  flex-flow: column wrap;
  font-weight: 600;
  margin-top: 10px;
  padding: 1em;
  text-align: center;
  width: 12em;
}

.alternatives {
  display: flex;
  flex-flow: column;
  margin-top: 25px;
}

.btn-alternative {
  background-color: var(--crl-light-blue-a8f9f3);
  border: none;
  border-radius: 10px;
  box-shadow: 0 0.1em 1.5em var(--crl-graphite-333);
  color: var(--crl-purple-290c61);
  font-size: 22px;
  font-weight: 600;
  margin: 1em;
  max-width: 20em;
  padding: 15px;
  transition: transform 0.5s;
  width: 20em;
}

.alternatives button:hover {
  transform: scale(1.3);
}

.btn-next {
  background-color: rgba(10, 245, 155, 0.8);
  border: none;
  border-radius: 5px;
  box-shadow: 0 15px 25px -4px rgba(30, 30, 60, 0.25);
  color: var(--crl-white);
  font-weight: 700;
  margin: 0.5em 0;
  padding: 15px;
  transition: transform 0.5s;
  width: 10em;
}

.btn-next:hover {
  background-color: rgba(10, 245, 155, 1);
  transform: scale(1.3);
}

@media ( max-width : 767px ) {

  * {
    margin: 0;
    padding: 0;
  }

  .main {
    flex-direction: column;
    margin-top: 50px;
  }

  .btn-alternative {
    width: 12em;
  }

  .btn-next {
    font-size: inherit;
    margin-bottom: 10px;
  }
}
